<div class="container">
  <div class="category-display">
  <h2> Categories: </h2>
    <ul>
      <% @categories.each do |category| %>
        <li><a href='/categories/<%= category.id %>'><%= category.name %></a></li>
      <% end  %>
    </ul>
  </div>
</div>
