<div class='container'>
  <div class='warning'>
    <p>
      Dear sir or madam, <br>
      You are trying to access a page to which you do not have permission. <br>
      Please check your post key, <br>
      Or kindly, stop trying to hack our system. <br>
      Thank you, <br>
      The Mgmt.
    </p>
  </div>
</div>
