<div class='container'>
  <div class="post-display">
  <h2> Post: </h2>
  <ul>
    <li> Title: <%= @post.title %> </li>
    <li> Description: <%= @post.description %> </li>
    <li> Price: <%= @post.price %> </li>
    <li> Seller Contact Info: <%= @post.email %> </li>
  <ul>
  </div>
</div>
